/* Colors */
/* Fonts */
@font-face {
  font-family: 'Edwardian Script ITC';
  src: url('EdwardianScriptITC.woff2') format('woff2'), url('EdwardianScriptITC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Goudy Old Style Italic';
  src: url('GoudyOldStyleT-Italic.woff2') format('woff2'), url('GoudyOldStyleT-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Goudy Old Style';
  src: url('GoudyOldStyleT-Regular.woff2') format('woff2'), url('GoudyOldStyleT-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Goudy Old Style Bold';
  src: url('GoudyOldStyleT-Bold.woff2') format('woff2'), url('GoudyOldStyleT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.bold-txt {
  font-family: 'Goudy Old Style Bold';
}
.home .landing-section {
  height: calc(100vh - 59px + 4px);
  position: relative;
}
.home .landing-section .img-cover {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home .landing-section .img-cover img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
.home .landing-section .img-cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 36, 35, 0.4) !important;
  z-index: 1;
}
.home .landing-section .text-cover {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 75%;
  color: #ffffff;
  transform: translate(-50%, -40%);
  font-family: 'Goudy Old Style', serif;
}
.home .landing-section .text-cover h1 {
  font-weight: bold;
  font-size: 2.5rem;
  color: #f7d38b;
  margin-bottom: 10px;
}
.home .landing-section .text-cover .writer-text {
  font-size: 2.3rem;
  margin-top: 10px;
  background: rgba(99, 36, 35, 0.7) !important;
  padding: 5px;
}
.home .landing-section .text-cover .writer-phrase {
  margin-top: 10px;
}
.home .landing-section .text-cover .writer-phrase .line-item {
  display: inline-block;
}
.home .landing-section .text-cover .writer-phrase .line-item span {
  background: rgba(99, 36, 35, 0.7) !important;
  padding: 5px;
}
.home .landing-section .text-cover .writer-phrase .line-item.base {
  font-size: 2.2rem;
}
.home .landing-section .text-cover .writer-phrase .line-item.line {
  display: block;
  background: none !important;
  margin-top: 20px;
}
.home .landing-section .text-cover .writer-phrase .line-item.title {
  font-size: 2.5rem;
  color: #f7d38b;
  font-weight: bold;
}
.home .landing-section .text-cover #signature {
  width: 484px;
  height: 184px;
  margin-left: 100px;
}
.home .landing-section .text-cover #signature line,
.home .landing-section .text-cover #signature path {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.home .landing-section .text-cover #signature .sig-line.line2 {
  stroke-dasharray: 300;
  animation: write1 3s linear;
}
.home .landing-section .text-cover #signature .sig-line.line4 {
  stroke-dasharray: 250;
  animation: write2 3s linear;
}
.home .landing-section .text-cover #signature .sig-line.line6 {
  stroke-dasharray: 450;
  animation: write3 3s linear;
}
.home .landing-section .text-cover #signature .sig-line.line8 {
  stroke-dasharray: 1100;
  animation: write4 3s linear;
}
.home .landing-section .serviceTime-scroller {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 90%;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px 40px;
  display: flex;
  flex-direction: row;
  z-index: 3;
}
.home .landing-section .serviceTime-scroller .scroller-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-right: 20px;
  text-align: right;
  padding: 5px 15px;
}
.home .landing-section .serviceTime-scroller .scroller-container {
  min-width: 75%;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  flex: 1;
  border-left: 1px solid rgba(150, 150, 150, 0.4);
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-date {
  display: flex;
  flex-direction: column;
  margin-right: 7px;
  background: #632423;
  color: #ffffff;
  text-align: center;
  padding: 5px 10px;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-date .date-month {
  font-weight: bold;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-date .date-day {
  font-size: 2rem;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-info {
  padding: 3px 0;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-info .info {
  color: #000000;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-info .info.title {
  font-weight: bold;
  font-size: 1.1rem;
}
.home .about {
  height: 50vh;
}
@keyframes write1 {
  0% {
    stroke-dashoffset: 300;
  }
  25% {
    stroke-dashoffset: 0;
  }
}
@keyframes write2 {
  0%,
  25% {
    stroke-dashoffset: 250;
  }
  50% {
    stroke-dashoffset: 0;
  }
}
@keyframes write3 {
  0%,
  50% {
    stroke-dashoffset: 450;
  }
  75% {
    stroke-dashoffset: 0;
  }
}
@keyframes write4 {
  0%,
  75% {
    stroke-dashoffset: 1100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
body,
html {
  margin: 0px !important;
  color: #000000;
  height: 100%;
  font-size: 14px;
  font-family: 'Goudy Old Style', serif;
}
*:focus {
  outline: none;
}
.navbar {
  z-index: 100;
  background: #632423 !important;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
  box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
}
.navbar .navbar-toggler {
  border: none;
  font-size: 25px;
  color: #ffffff;
}
.navbar .navbar-brand {
  font-size: 40px;
  color: #f7d38b !important;
}
.navbar .navbar-brand.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center;
  margin-left: -80px;
}
@media (max-width: 770px) {
  .navbar .navbar-brand.navbar-brand-centered {
    position: relative;
    left: initial;
    width: initial;
    margin-left: initial;
  }
}
.navbar .navbar-brand .initialLogo {
  padding-top: 40px;
}
.navbar .navbar-brand .initialLogo .initial-wrapper {
  background: #632423;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.navbar .navbar-brand .initialLogo .initial-wrapper img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 770px) {
  .navbar .navbar-brand .initialLogo {
    padding: 7px;
  }
  .navbar .navbar-brand .initialLogo .initial-wrapper {
    width: 48px;
    height: 48px;
    font-size: 30px;
  }
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .nav-item {
  font-size: 1.5rem;
  color: #ffffff;
  font-family: 'Goudy Old Style', serif;
  transition: 0.5s all ease-in-out;
}
.navbar .nav-item:hover {
  color: #d2d2d2;
  opacity: 0.7;
}
.navbar .nav-item + .nav-item {
  margin-left: 40px;
}
@media (max-width: 770px) {
  .navbar .nav-item + .nav-item {
    margin-left: initial;
  }
}
.navbar .nav-right {
  width: calc(50% - 50px);
  justify-content: flex-start;
}
@media (max-width: 770px) {
  .navbar .nav-right {
    margin-right: initial;
  }
}
.navbar .nav-left {
  width: calc(50% - 50px);
  justify-content: flex-end;
}
@media (max-width: 770px) {
  .navbar .nav-left {
    margin-left: initial;
  }
}
/* Mobile Nav */
.noscroll {
  overflow: hidden;
}
.sidenav-container {
  display: none;
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: #343a40;
  transition: 0.5s all ease-in-out;
  padding: 97px 0 20px;
  color: #ffffff;
}
.sidenav-container .nav-close {
  position: absolute;
  top: 40px;
  right: 60px;
  opacity: 0;
  color: #ffffff;
}
.sidenav-container .sidenav-section {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}
.sidenav-container .sidenav-section .sidenav-link {
  font-size: 25px;
  color: #ffffff !important;
}
.sidenav-container .sidenav-section .sidenav-link + .sidenav-link {
  margin-top: 20px;
}
.sidenav-container .sidenav-section .sidenav-header-link {
  border: 3px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  display: block;
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff !important;
}
.sidenav-container .sidenav-section .sidenav-header-link + .sidenav-header-link {
  margin-top: 7px;
}
.sidenav-container .sidenav-section + .sidenav-section {
  margin-top: 40px;
}
.sidenav-container .sidenav-section.title {
  padding: 20px 15%;
  font-size: 40px;
  border-top: 2px solid #f7d38b;
  color: #f7d38b !important;
}
.sidenav-container.active {
  left: 0;
}
.sidenav-container.active .nav-close {
  animation-name: background-appear;
  animation-duration: 0.7s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
@media (max-width: 992px) {
  .sidenav-container {
    display: block;
  }
}
/* Page Body */
.page-body {
  padding-top: 55px;
  min-height: 100vh;
}
/* Common Items */
.lifted {
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
/* Icons */
.close-nav {
  width: 27px;
  height: 27px;
  position: relative;
}
.close-nav:before,
.close-nav:after {
  position: absolute;
  left: 14px;
  content: ' ';
  height: 28px;
  width: 2px;
  background-color: #ffffff;
}
.close-nav:before {
  transform: rotate(45deg);
}
.close-nav:after {
  transform: rotate(-45deg);
}
/* Animation key frames */
@keyframes page-nav-slide {
  from {
    margin-top: 97px;
  }
  to {
    margin-top: 0;
  }
}
@keyframes background-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
