/* Colors */
/* Fonts */
@font-face {
  font-family: 'Edwardian Script ITC';
  src: url('EdwardianScriptITC.woff2') format('woff2'), url('EdwardianScriptITC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Goudy Old Style Italic';
  src: url('GoudyOldStyleT-Italic.woff2') format('woff2'), url('GoudyOldStyleT-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Goudy Old Style';
  src: url('GoudyOldStyleT-Regular.woff2') format('woff2'), url('GoudyOldStyleT-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Goudy Old Style Bold';
  src: url('GoudyOldStyleT-Bold.woff2') format('woff2'), url('GoudyOldStyleT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.bold-txt {
  font-family: 'Goudy Old Style Bold';
}
.home .landing-section {
  height: calc(100vh - 59px + 4px);
  position: relative;
}
.home .landing-section .img-cover {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.home .landing-section .img-cover img {
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 0;
}
@media (max-width: 992px) {
  .home .landing-section .img-cover img {
    height: 100%;
    width: initial;
  }
}
.home .landing-section .img-cover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 36, 35, 0.4) !important;
  z-index: 1;
}
.home .landing-section .load-bar {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  overflow: hidden;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.home .landing-section .load-bar .RCP {
  width: 50px !important;
}
.home .landing-section .load-bar .RCP svg {
  width: 50px;
  height: 50px;
}
.home .landing-section .load-bar i {
  color: #632423;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home .landing-section .load-bar:hover {
  opacity: 1;
}
.home .landing-section .text-cover {
  z-index: 2;
  position: absolute;
  top: 40%;
  left: 50%;
  width: 75%;
  height: 90vh;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
  transform: translate(-50%, -40%);
  font-family: 'Goudy Old Style', serif;
}
.home .landing-section .text-cover h1 {
  font-weight: bold;
  font-size: 4rem;
  color: #fff;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .home .landing-section .text-cover h1 {
    font-size: 2.2rem;
  }
}
.home .landing-section .text-cover .writer-text {
  font-size: 2.3rem;
  margin-top: 10px;
  background: rgba(99, 36, 35, 0.7) !important;
  padding: 5px;
}
.home .landing-section .text-cover .writer-phrase {
  margin-top: 10px;
  height: 0;
  overflow-y: hidden;
  transition: 0.7s all ease-in-out;
}
.home .landing-section .text-cover .writer-phrase .line-item {
  display: inline-block;
}
.home .landing-section .text-cover .writer-phrase .line-item span {
  background: rgba(99, 36, 35, 0.7) !important;
  padding: 5px;
}
.home .landing-section .text-cover .writer-phrase .line-item.base {
  font-size: 2.2rem;
}
@media (max-width: 992px) {
  .home .landing-section .text-cover .writer-phrase .line-item.base {
    font-size: 1.5rem;
  }
}
.home .landing-section .text-cover .writer-phrase .line-item.line {
  display: block;
  background: none !important;
  margin-top: 20px;
}
.home .landing-section .text-cover .writer-phrase .line-item.title {
  font-size: 2.5rem;
  color: #f7d38b;
  font-weight: bold;
}
@media (max-width: 992px) {
  .home .landing-section .text-cover .writer-phrase .line-item.title {
    font-size: 1.5rem;
  }
}
.home .landing-section .text-cover .writer-phrase.wshow {
  height: 175px;
}
@media (max-width: 992px) {
  .home .landing-section .text-cover .writer-phrase.wshow {
    height: 270px;
  }
}
.home .landing-section .text-cover #signature {
  width: 484px;
  height: 184px;
  margin-left: 100px;
}
.home .landing-section .text-cover #signature line,
.home .landing-section .text-cover #signature path {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.home .landing-section .text-cover #signature .sig-line.line2 {
  stroke-dasharray: 300;
  animation: write1 3s linear;
}
.home .landing-section .text-cover #signature .sig-line.line4 {
  stroke-dasharray: 250;
  animation: write2 3s linear;
}
.home .landing-section .text-cover #signature .sig-line.line6 {
  stroke-dasharray: 450;
  animation: write3 3s linear;
}
.home .landing-section .text-cover #signature .sig-line.line8 {
  stroke-dasharray: 1100;
  animation: write4 3s linear;
}
@media (max-width: 992px) {
  .home .landing-section .text-cover #signature {
    width: 100%;
    margin-left: 0;
  }
}
.home .landing-section .text-cover #signature2 {
  width: 605px;
  height: 170px;
  margin-left: 100px;
}
.home .landing-section .text-cover #signature2 line,
.home .landing-section .text-cover #signature2 path {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.home .landing-section .text-cover #signature2 .sig-line.line2 {
  stroke-dasharray: 1200;
  animation: write21 3s linear;
}
.home .landing-section .text-cover #signature2 .sig-line.line4 {
  stroke-dasharray: 1200;
  animation: write22 3s linear;
}
@media (max-width: 992px) {
  .home .landing-section .text-cover #signature2 {
    width: 100%;
    margin-left: 0;
  }
}
.home .landing-section .text-cover #signature3 {
  width: 705px;
  height: 150px;
  margin-left: 100px;
}
.home .landing-section .text-cover #signature3 line,
.home .landing-section .text-cover #signature3 path {
  fill: none;
  stroke: #fff;
  stroke-width: 7;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}
.home .landing-section .text-cover #signature3 .sig-line.line1 {
  stroke-dasharray: 4000;
  animation: write31 3s linear, writeFill 0.7s linear 0.45s forwards;
}
.home .landing-section .text-cover #signature3 .sig-line.line2 {
  stroke-dasharray: 7500;
  animation: write32 3s linear, writeFill 0.7s linear 0.9s forwards;
}
.home .landing-section .text-cover #signature3 .sig-line.line21 {
  stroke-dasharray: 1000;
  animation: write321 3s linear, writeFill 0.7s linear 0.9s forwards;
}
.home .landing-section .text-cover #signature3 .sig-line.line3 {
  stroke-dasharray: 7000;
  animation: write33 3s linear, writeFill 0.7s linear 1.35s forwards;
}
.home .landing-section .text-cover #signature3 .sig-line.line4 {
  stroke-dasharray: 8000;
  animation: write34 3s linear, writeFill 0.7s linear 1.8s forwards;
}
.home .landing-section .text-cover #signature3 .sig-line.line41 {
  stroke-dasharray: 1000;
  animation: write341 3s linear, writeFill 0.7s linear 1.8s forwards;
}
.home .landing-section .text-cover #signature3 .sig-line.line5 {
  stroke-dasharray: 10000;
  animation: write35 3s linear, writeFill 0.7s linear 2.25s forwards;
}
.home .landing-section .text-cover #signature3 .sig-line.line6 {
  stroke-dasharray: 10000;
  animation: write36 3s linear, writeFill 0.7s linear 3s forwards;
}
@media (max-width: 992px) {
  .home .landing-section .text-cover #signature3 {
    width: 100%;
    margin-left: 0;
  }
}
.home .landing-section .serviceTime-scroller {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 90%;
  background: #ffffff;
  border-radius: 5px;
  padding: 15px 40px;
  display: flex;
  flex-direction: row;
  z-index: 3;
}
.home .landing-section .serviceTime-scroller .scroller-title {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-right: 20px;
  text-align: right;
  padding: 5px 15px;
}
.home .landing-section .serviceTime-scroller .scroller-container {
  min-width: 75%;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item {
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  flex: 1;
  border-left: 1px solid rgba(150, 150, 150, 0.4);
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-date {
  display: flex;
  flex-direction: column;
  margin-right: 7px;
  background: #632423;
  color: #ffffff;
  text-align: center;
  padding: 5px 10px;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-date .date-month {
  font-weight: bold;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-date .date-day {
  font-size: 2rem;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-info {
  padding: 3px 0;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-info .info {
  color: #000000;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.home .landing-section .serviceTime-scroller .scroller-container .alice-carousel .service-item .service-info .info.title {
  font-weight: bold;
  font-size: 1.1rem;
}
.home .landing-section .serviceTime-scroller .no-data {
  color: rgba(0, 0, 0, 0.4);
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 992px) {
  .home .landing-section .serviceTime-scroller {
    width: 100%;
    border-radius: 0;
    overflow: hidden;
  }
}
.home .about {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 100px 0;
}
.home .about .about-text {
  flex: 1;
  padding: 20px 20px 20px 5%;
}
.home .about .about-text h1 {
  color: #632423;
}
@media (max-width: 992px) {
  .home .about .about-text h1 {
    text-align: center;
  }
}
.home .about .about-text p {
  font-size: 1.4rem;
}
@media (max-width: 992px) {
  .home .about .about-text p {
    font-size: 1.2rem;
  }
}
.home .about .about-img-container {
  width: 70%;
  flex: 1;
  display: flex;
  justify-content: center;
  margin-right: -20%;
  position: relative;
  padding-bottom: 50px;
}
.home .about .about-img-container .alice-carousel .photo-item {
  overflow: hidden;
  margin: 0 10px;
  border-radius: 5px;
  height: 330px;
  padding: 3px;
}
.home .about .about-img-container .alice-carousel .photo-item img,
.home .about .about-img-container .alice-carousel .photo-item iframe {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  border-radius: 2px;
  border: 7px solid #fff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.home .about .about-img-container .alice-carousel .photo-item .no-photo {
  width: 100%;
  height: 100%;
  background: #dcdcdc;
  border-radius: 2px;
  border: 7px solid #fff;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.home .about .about-img-container .scroll-ctrl {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 992px) {
  .home .about .about-img-container .scroll-ctrl {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 992px) {
  .home .about .about-img-container {
    width: 100%;
    padding: 0 5% 80px;
  }
}
@media (max-width: 992px) {
  .home .about {
    flex-direction: column;
  }
}
.home .preparing {
  display: block;
  flex-direction: row;
  overflow: hidden;
  padding: 100px 0;
  font-size: 1.4rem;
}
.home .preparing .prep-faq {
  flex: 1;
  padding-left: 5%;
  width: 50%;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
.home .preparing .prep-faq .accordion .card {
  border: none;
  background: none;
  border-bottom: 1px solid #632423;
  border-radius: 0;
}
.home .preparing .prep-faq .accordion .card .card-header {
  background: none;
  border: none;
}
.home .preparing .prep-faq .accordion .card .card-header .btn-link {
  text-decoration: none;
  white-space: break-spaces;
  text-align: left;
  font-size: 1.4rem;
  color: #632423;
}
.home .preparing .prep-faq .accordion .card .card-header .btn-link i {
  margin-right: 10px;
  transition: 0.3s all ease-in-out;
  transition: 0.5s all ease-in-out;
}
.home .preparing .prep-faq .accordion .card .card-header .btn-link[aria-expanded="true"] i {
  transform: rotate(90deg);
}
.home .preparing .prep-faq .accordion .card .card-header .btn-link:hover i {
  margin-right: 20px;
}
.home .preparing .prep-faq .accordion .card .card-header .btn-link.special {
  color: #323232;
}
.home .preparing .prep-faq .accordion .card .card-body {
  padding: 15px 30px;
  background: #ebebeb;
  background: rgba(235, 235, 235, 0.75) !important;
  border-radius: 7px;
  margin-bottom: 10px;
  color: #000;
  font-size: 1.2rem;
}
.home .preparing .prep-faq .accordion .card .card-body iframe {
  width: 100%;
  min-height: 250px;
}
.home .preparing .prep-faq .accordion .card.special {
  border-bottom: 1px solid #323232;
}
.home .preparing .prep-faq .accordion .no-data-container {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
}
.home .preparing .prep-faq .accordion .no-data-container .no-data {
  display: block;
  width: 100%;
  height: 60px;
  background: rgba(245, 245, 245, 0.7);
  border-bottom: 1px solid #632423;
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .home .preparing .prep-faq {
    margin: 20px 0;
    padding: 0 5%;
    width: 100%;
  }
}
.home .preparing .prep-text {
  width: calc(50% - 30px);
  margin-left: 30px;
  background: #632423;
  min-height: 450px;
  color: #fff;
  border-top-left-radius: 250px;
  border-bottom-left-radius: 250px;
  padding: 20px 5% 20px 150px;
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
}
.home .preparing .prep-text h1 {
  color: #f7d38b;
}
@media (max-width: 992px) {
  .home .preparing .prep-text h1 {
    text-align: center;
  }
}
@media (max-width: 992px) {
  .home .preparing .prep-text {
    width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 10px 5%;
  }
}
@media (max-width: 992px) {
  .home .preparing {
    display: flex;
    flex-direction: column-reverse;
  }
}
.home .contactUs {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 100px 5%;
  background: #632423;
  font-size: 1.4rem;
}
.home .contactUs .contact-info {
  flex: 1;
  color: #fff;
  padding-right: 30px;
}
.home .contactUs .contact-info h1 {
  color: #f7d38b;
}
@media (max-width: 992px) {
  .home .contactUs .contact-info h1 {
    text-align: center;
  }
}
.home .contactUs .contact-info .contact-lines {
  margin-top: 30px;
  line-break: auto;
}
.home .contactUs .contact-info .contact-lines .info-line span:not(.mini) {
  margin-right: 7px;
  font-weight: bold;
}
.home .contactUs .contact-info .contact-lines .info-line.title {
  color: #f7d38b;
  border-bottom: 2px solid #f7d38b;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .home .contactUs .contact-info .contact-lines .info-line .mini {
    display: block;
    font-size: 1.2rem;
    margin-left: 5px;
  }
}
.home .contactUs .contact-form {
  flex: 1;
}
.home .contactUs .contact-form .form-element {
  padding: 7px;
  display: block;
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.home .contactUs .contact-form .form-element textarea {
  height: 150px;
  resize: none;
  border-radius: 5px;
  border: 2px solid #fff;
  width: 100%;
  margin-top: 10px;
  padding: 7px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.home .contactUs .contact-form .form-element textarea::placeholder {
  color: #fff;
}
.home .contactUs .contact-form .form-element .line-group {
  position: relative;
  padding: 15px 0 0;
}
.home .contactUs .contact-form .form-element .line-group .line-field {
  width: 100%;
  border: 0;
  border-bottom: 2px solid #fff;
  outline: 0;
  font-size: 1.3rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.home .contactUs .contact-form .form-element .line-group .line-field::placeholder {
  color: transparent;
}
.home .contactUs .contact-form .form-element .line-group .line-field:placeholder-shown ~ .line-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.home .contactUs .contact-form .form-element .line-group .line-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
}
.home .contactUs .contact-form .form-element .line-group .line-field:focus {
  padding-bottom: 6px;
  font-weight: bold;
  border-width: 3px;
  border-image: linear-gradient(to right, #f7d38b);
  border-image-slice: 1;
}
.home .contactUs .contact-form .form-element .line-group .line-field:focus + .line-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}
.home .contactUs .contact-form .form-element .line-group .line-field:required,
.home .contactUs .contact-form .form-element .line-group .line-field:invalid {
  box-shadow: none;
}
.home .contactUs .contact-form .form-element .empty {
  border: 2px solid rgba(255, 0, 0, 0.8);
}
.home .contactUs .contact-form .form-element.sz-1 {
  width: 10%;
}
.home .contactUs .contact-form .form-element.sz-2 {
  width: 20%;
}
.home .contactUs .contact-form .form-element.sz-3 {
  width: 30%;
}
.home .contactUs .contact-form .form-element.sz-4 {
  width: 40%;
}
.home .contactUs .contact-form .form-element.sz-5 {
  width: 50%;
}
.home .contactUs .contact-form .form-element.sz-6 {
  width: 60%;
}
.home .contactUs .contact-form .form-element.sz-7 {
  width: 70%;
}
.home .contactUs .contact-form .form-element.sz-8 {
  width: 80%;
}
.home .contactUs .contact-form .form-element.sz-9 {
  width: 90%;
}
.home .contactUs .contact-form .form-element.sz-10 {
  width: 100%;
}
.home .contactUs .contact-form .btn-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.home .contactUs .contact-form .btn-container .lBtn {
  padding: 5px 15px;
  color: #000;
  background: #f7d38b;
  font-size: 1.2rem;
  font-weight: 100;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.home .contactUs .contact-form .btn-container .lBtn .btn-icon {
  font-size: 1.1rem;
  padding-left: 7px;
  transition: 0.3s all ease-in-out;
}
.home .contactUs .contact-form .btn-container .lBtn:hover {
  text-decoration: none;
}
.home .contactUs .contact-form .btn-container .lBtn:hover .btn-icon {
  padding-left: 14px;
}
@media (max-width: 992px) {
  .home .contactUs {
    flex-direction: column;
  }
}
.home .testimonials {
  padding: 100px 12%;
  text-align: center;
}
.home .testimonials h1 {
  color: #632423;
}
@media (max-width: 992px) {
  .home .testimonials h1 {
    text-align: center;
  }
}
.home .testimonials .alice-carousel {
  margin-top: 30px;
}
.home .testimonials .alice-carousel .testimonial-item {
  padding: 10px 7px;
  text-align: center;
}
.home .testimonials .alice-carousel .testimonial-item .test-info {
  font-size: 1.3rem;
  font-style: italic;
}
.home .testimonials .alice-carousel .testimonial-item .test-info i {
  font-size: 1.3rem;
  color: #632423;
}
.home .testimonials .alice-carousel .testimonial-item .test-info i.fa-quote-left {
  margin-right: 7px;
}
.home .testimonials .alice-carousel .testimonial-item .test-info i.fa-quote-right {
  margin-left: 7px;
}
.home .testimonials .alice-carousel .testimonial-item .test-name {
  font-size: 1.4rem;
  font-weight: bold;
  color: #632423;
}
.home .testimonials .alice-carousel .testimonial-item .no-data {
  background: #dcdcdc;
  height: 200px;
  width: 100%;
}
.home .testimonials .alice-carousel .alice-carousel__dots-item {
  background-color: rgba(99, 36, 35, 0.5) !important;
}
.home .testimonials .alice-carousel .alice-carousel__dots-item.__active {
  background-color: #632423 !important;
}
@keyframes write1 {
  0% {
    stroke-dashoffset: 300;
  }
  25% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
@keyframes write2 {
  0%,
  25% {
    stroke-dashoffset: 250;
  }
  50% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}
@keyframes write3 {
  0%,
  50% {
    stroke-dashoffset: 450;
  }
  75% {
    stroke-dashoffset: 0;
  }
}
@keyframes write4 {
  0%,
  75% {
    stroke-dashoffset: 1100;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/* Sig 2 */
@keyframes write21 {
  0% {
    stroke-dashoffset: 1200;
  }
  50% {
    stroke-dashoffset: 0;
  }
}
@keyframes write22 {
  0%,
  50% {
    stroke-dashoffset: 1200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
/* Sig 3 */
@keyframes write31 {
  0% {
    stroke-dashoffset: 4000;
  }
  15% {
    stroke-dashoffset: 0;
  }
}
@keyframes write32 {
  0%,
  15% {
    stroke-dashoffset: 7500;
  }
  30% {
    stroke-dashoffset: 0;
  }
}
@keyframes write321 {
  0%,
  25% {
    stroke-dashoffset: 1000;
  }
  30% {
    stroke-dashoffset: 0;
  }
}
@keyframes write33 {
  0%,
  30% {
    stroke-dashoffset: 7000;
  }
  45% {
    stroke-dashoffset: 0;
  }
}
@keyframes write34 {
  0%,
  45% {
    stroke-dashoffset: 8000;
  }
  60% {
    stroke-dashoffset: 0;
  }
}
@keyframes write341 {
  0%,
  55% {
    stroke-dashoffset: 1000;
  }
  60% {
    stroke-dashoffset: 0;
  }
}
@keyframes write35 {
  0%,
  60% {
    stroke-dashoffset: 10000;
  }
  75% {
    stroke-dashoffset: 0;
  }
}
@keyframes write36 {
  0%,
  75% {
    stroke-dashoffset: 10000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes writeFill {
  0% {
    fill: rgba(255, 255, 255, 0);
  }
  100% {
    fill: #ffffff;
  }
}
.services .sub-header {
  min-height: 40vh;
  padding: 20px 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(235, 235, 235, 0.9) !important;
  color: #000;
  border-bottom-left-radius: 250px;
}
.services .sub-header .header-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.services .sub-header .header-container .sub-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  padding: 20px;
}
.services .sub-header .header-container .sub-content.sub-title h1 {
  font-size: 3.5rem;
}
@media (max-width: 992px) {
  .services .sub-header .header-container .sub-content.sub-title h1 {
    font-size: 2.5rem;
  }
}
.services .sub-header .header-container .sub-content.sub-text {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
}
@media (max-width: 992px) {
  .services .sub-header .header-container .sub-content.sub-text {
    font-size: 1rem;
    border-left: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 992px) {
  .services .sub-header .header-container {
    flex-direction: column;
  }
}
@media (max-width: 992px) {
  .services .sub-header {
    margin-top: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}
.service-list {
  min-height: 100vh;
  padding: 100px 7%;
}
.service-list .list-header {
  margin: 20px 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.service-list .list-header .search-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 250px;
}
.service-list .list-header .search-field {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #969696;
}
.service-list .list-header .search-field i {
  color: #969696;
  margin-right: 7px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.service-list .list-header .search-field input {
  border: none;
  outline: none;
}
@media (max-width: 992px) {
  .service-list .list-header {
    flex-direction: column;
  }
}
.service-list .service-table {
  width: 100%;
  text-align: left;
  font-size: 1.3rem;
}
.service-list .service-table th,
.service-list .service-table td {
  padding: 15px;
  transition: 0.5s all ease-in-out;
}
.service-list .service-table thead {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 4px solid #632423;
}
@media (max-width: 992px) {
  .service-list .service-table thead {
    font-size: 1.1rem;
  }
}
.service-list .service-table tbody tr:nth-child(even) {
  background: rgba(100, 100, 100, 0.2);
}
.service-list .service-table tbody tr + tr {
  border-top: 1px solid #000;
}
.service-list .service-table tbody .empty-table td {
  text-align: center;
  background: rgba(99, 36, 35, 0.2) !important;
}
.service-list .service-table.hover-row tr:hover td {
  padding-left: 25px;
  padding-right: 5px;
}
@media (max-width: 992px) {
  .service-list .service-table {
    font-size: 1rem;
  }
}
.service-list .table-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 0;
}
.service-list .table-control .page-info {
  font-size: 1.3rem;
  color: #632423;
  margin-right: 7px;
  font-weight: bold;
}
@media (max-width: 992px) {
  .service-list {
    padding: 100px 5%;
  }
}
.login-container {
  width: 80vw;
  min-height: calc(75vh - 90px);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
  box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
}
.login-container .login-form {
  padding: 20px 5%;
  background: rgba(225, 225, 225, 0.5);
  display: flex;
  flex-direction: column;
  min-width: 45%;
  font-size: 1.2rem;
}
.login-container .login-form .input-field {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.login-container .login-form .input-field .input-title {
  font-weight: bold;
}
.login-container .login-form .input-field .input-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #969696;
  border-radius: 5px;
  padding: 5px 10px;
  background: #ffffff;
  position: relative;
}
.login-container .login-form .input-field .input-container i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 7px;
}
.login-container .login-form .input-field .input-container input {
  flex: 1;
  border: 0;
}
.login-container .login-form .input-field .input-container.error {
  border-color: #ff0000;
}
.login-container .login-form .input-field .input-container.uneditable::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.3);
}
.login-container .login-form .sign-in-btn {
  background: #f7d38b;
  border-radius: 5px;
  text-align: center;
  padding: 5px 15px;
  margin-top: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  -webkit-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
  box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
}
.login-container .login-form .sign-in-btn:hover {
  opacity: 0.7;
}
.login-container .login-form .forgot-link {
  color: #000;
  margin-left: 5px;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.login-container .login-form .forgot-link:hover {
  color: #f7d38b;
}
.login-container .img-container {
  flex: 1;
  background: #632423;
  position: relative;
}
.login-container .img-container .img-text {
  padding: 10px 5%;
  color: #ffffff;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translateY(-50%);
}
.login-container .img-container .img-text span {
  color: #f7d38b;
}
.login-container .img-container .img-text p {
  font-size: 1.4rem;
  margin-top: 20px;
  line-height: 1.5rem;
}
.login-container .img-container .sign-in-logo {
  width: 75%;
  margin: auto;
  opacity: 0.1;
}
.login-container .img-container .sign-in-logo img {
  width: 100%;
}
.admin {
  padding: 0 3%;
}
.admin .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 50px 0;
}
.admin .title img {
  height: 150px;
  margin-right: 20px;
}
.admin .title h1 {
  font-size: 5.5rem;
  margin-top: auto;
  margin-bottom: auto;
}
.admin .add-btn-container {
  display: flex;
  flex-direction: row;
}
.admin .add-btn-container .icon-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.admin .add-btn-container .icon-container .add-icon {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: #969696;
  color: #323232;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.admin .add-btn-container .input-field {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.admin .add-btn-container .input-field .input-title {
  font-weight: bold;
}
.admin .add-btn-container .input-field .input-container {
  display: flex;
  flex-direction: row;
  border: 1px solid #969696;
  border-radius: 5px;
  padding: 5px 10px;
  background: #ffffff;
  position: relative;
}
.admin .add-btn-container .input-field .input-container i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 7px;
}
.admin .add-btn-container .input-field .input-container input,
.admin .add-btn-container .input-field .input-container select {
  flex: 1;
  border: 0;
  min-height: 23px;
}
.admin .add-btn-container .input-field .input-container input[type=datetime-local],
.admin .add-btn-container .input-field .input-container select[type=datetime-local] {
  width: calc(100% - 20px);
}
.admin .add-btn-container .input-field .input-container.error {
  border-color: #ff0000;
}
.admin .add-btn-container .input-field .input-container.uneditable::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  background: rgba(50, 50, 50, 0.3);
}
.admin .add-btn-container .input-field .lBtn {
  padding: 5px 15px;
  cursor: pointer;
  color: #000;
  background: #f7d38b;
  font-size: 1.2rem;
  font-weight: 100;
  border-radius: 5px;
  height: 35px;
  margin-top: auto;
}
.admin .add-btn-container .input-field .lBtn .btn-icon {
  font-size: 1.1rem;
  padding-left: 7px;
  transition: 0.3s all ease-in-out;
}
.admin .add-btn-container .input-field .lBtn:hover {
  text-decoration: none;
}
.admin .add-btn-container .input-field .lBtn:hover .btn-icon {
  padding-left: 14px;
}
.admin .add-btn-container .input-field.btn-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.admin .add-btn-container .input-field.sz-1 {
  width: calc(10% - 10px);
}
.admin .add-btn-container .input-field.sz-2 {
  width: calc(20% - 10px);
}
.admin .add-btn-container .input-field.sz-3 {
  width: calc(30% - 10px);
}
.admin .add-btn-container .input-field.sz-4 {
  width: calc(40% - 10px);
}
.admin .add-btn-container .input-field.sz-5 {
  width: calc(50% - 10px);
}
.admin .add-btn-container .input-field.sz-6 {
  width: calc(60% - 10px);
}
.admin .add-btn-container .input-field.sz-7 {
  width: calc(70% - 10px);
}
.admin .add-btn-container .input-field.sz-8 {
  width: calc(80% - 10px);
}
.admin .add-btn-container .input-field.sz-9 {
  width: calc(90% - 10px);
}
.admin .add-btn-container .input-field.sz-10 {
  width: calc(100% - 10px);
}
.admin .admin-list {
  padding: 0;
}
.admin .admin-list tr.sel {
  background: #f7d38b !important;
}
.admin .admin-list .mini-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.admin .admin-list .mini-btn-container .view-btn {
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 0.7rem;
  background-color: #969696;
  color: #323232;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.admin .admin-list .mini-btn-container .view-btn.edit:hover {
  color: #fff;
  background-color: rgba(50, 150, 50, 0.8);
}
.admin .admin-list .mini-btn-container .view-btn.remove:hover {
  color: #fff;
  background-color: rgba(250, 50, 100, 0.8);
}
body,
html {
  margin: 0px !important;
  color: #000000;
  height: 100%;
  font-size: 14px;
  font-family: 'Goudy Old Style', serif;
}
*:focus {
  outline: none;
}
.navbar {
  z-index: 100;
  background: #632423 !important;
  color: #fff;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
  box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
}
.navbar .navbar-toggler {
  border: none;
  font-size: 25px;
  color: #ffffff;
}
.navbar .navbar-brand {
  font-size: 40px;
  color: #f7d38b !important;
}
.navbar .navbar-brand.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center;
  margin-left: -80px;
}
@media (max-width: 770px) {
  .navbar .navbar-brand.navbar-brand-centered {
    position: relative;
    left: initial;
    width: initial;
    margin-left: initial;
  }
}
.navbar .navbar-brand .initialLogo {
  padding-top: 40px;
}
.navbar .navbar-brand .initialLogo .initial-wrapper {
  background: #632423;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.navbar .navbar-brand .initialLogo .initial-wrapper img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 770px) {
  .navbar .navbar-brand .initialLogo {
    padding: 7px;
  }
  .navbar .navbar-brand .initialLogo .initial-wrapper {
    width: 48px;
    height: 48px;
    font-size: 30px;
  }
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .nav-item {
  font-size: 1.5rem;
  color: #ffffff;
  cursor: pointer;
  font-family: 'Goudy Old Style', serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  transition: 0.5s all ease-in-out;
}
.navbar .nav-item.selected {
  color: #f7d38b;
  border-bottom: 1px solid #f7d38b;
}
.navbar .nav-item:hover {
  color: #d2d2d2;
  opacity: 0.7;
}
.navbar .nav-item + .nav-item {
  margin-left: 40px;
}
@media (max-width: 770px) {
  .navbar .nav-item + .nav-item {
    margin-left: initial;
  }
}
.navbar .nav-right {
  width: calc(50% - 50px);
  justify-content: flex-start;
}
@media (max-width: 770px) {
  .navbar .nav-right {
    margin-right: initial;
  }
}
.navbar .nav-left {
  width: calc(50% - 50px);
  justify-content: flex-end;
}
@media (max-width: 770px) {
  .navbar .nav-left {
    margin-left: initial;
  }
}
/* Mobile Nav */
.noscroll {
  overflow: hidden;
}
.sidenav-container {
  display: none;
  position: fixed;
  top: 0;
  left: 100vw;
  z-index: 1001;
  width: 100vw;
  height: 100vh;
  background: #343a40;
  transition: 0.5s all ease-in-out;
  padding: 97px 0 20px;
  color: #ffffff;
}
.sidenav-container .nav-close {
  position: absolute;
  top: 40px;
  right: 60px;
  opacity: 0;
  color: #ffffff;
}
.sidenav-container .sidenav-section {
  display: flex;
  flex-direction: column;
  padding: 0 15%;
}
.sidenav-container .sidenav-section .sidenav-link {
  font-size: 25px;
  color: #ffffff !important;
}
.sidenav-container .sidenav-section .sidenav-link + .sidenav-link {
  margin-top: 20px;
}
.sidenav-container .sidenav-section .sidenav-header-link {
  border: 3px solid rgba(255, 255, 255, 0.5);
  text-align: center;
  display: block;
  padding: 2px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff !important;
}
.sidenav-container .sidenav-section .sidenav-header-link + .sidenav-header-link {
  margin-top: 7px;
}
.sidenav-container .sidenav-section + .sidenav-section {
  margin-top: 40px;
}
.sidenav-container .sidenav-section.title {
  padding: 20px 15%;
  font-size: 40px;
  border-top: 2px solid #f7d38b;
  color: #f7d38b !important;
}
.sidenav-container .sidenav-section.title p {
  font-size: 25px;
  color: #ebebeb !important;
}
.sidenav-container.active {
  left: 0;
}
.sidenav-container.active .nav-close {
  animation-name: background-appear;
  animation-duration: 0.7s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
@media (max-width: 992px) {
  .sidenav-container {
    display: block;
  }
}
/* Page Body */
.page-body {
  padding-top: 55px;
  min-height: 100vh;
}
/* Footer */
.footer {
  background: #323232;
  display: flex;
  flex-direction: row;
  padding: 10px 5%;
  color: #fff;
}
.footer .footer-section {
  display: flex;
  flex-direction: row;
  flex: 1;
}
.footer .footer-section img {
  height: 50px;
  margin-right: 7px;
}
.footer .footer-section.icon-section * {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .footer-section.icon-section i {
  margin-right: 7px;
}
@media (max-width: 992px) {
  .footer .footer-section {
    justify-content: center;
  }
  .footer .footer-section + .footer-section {
    margin-top: 15px;
  }
}
@media (max-width: 992px) {
  .footer {
    flex-direction: column;
  }
}
/* Common Items */
.lifted {
  -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}
.scroll-ctrl {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.scroll-ctrl .ctrl-item {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 10px;
  color: #fff;
  background: rgba(99, 36, 35, 0.9) !important;
  transition: 0.5s all ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.scroll-ctrl .ctrl-item.disabled {
  background: #afafaf !important;
  opacity: 0.7;
  cursor: initial;
}
.scroll-ctrl .ctrl-item.left {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.scroll-ctrl .ctrl-item.left:hover:not(.disabled) {
  padding-right: 20px;
}
.scroll-ctrl .ctrl-item.right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.scroll-ctrl .ctrl-item.right:hover:not(.disabled) {
  padding-left: 20px;
}
.scroll-ctrl .ctrl-item + .ctrl-item {
  margin-left: 5px;
}
@media (max-width: 992px) {
  .scroll-ctrl .ctrl-item {
    font-size: 30px;
  }
}
/* Icons */
.close-nav {
  width: 27px;
  height: 27px;
  position: relative;
}
.close-nav:before,
.close-nav:after {
  position: absolute;
  left: 14px;
  content: ' ';
  height: 28px;
  width: 2px;
  background-color: #ffffff;
}
.close-nav:before {
  transform: rotate(45deg);
}
.close-nav:after {
  transform: rotate(-45deg);
}
/* Load Spinner */
#loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: inline-block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #4b4b4b;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #646464;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #c8c8c8;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader.base {
  border-top-color: #632423;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}
/* Animation key frames */
@keyframes page-nav-slide {
  from {
    margin-top: 97px;
  }
  to {
    margin-top: 0;
  }
}
@keyframes background-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Background Pattern */
.background-pattern1 {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23ebebeb' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}
