/* Colors */
/* Fonts */
@font-face {
  font-family: 'Edwardian Script ITC';
  src: url('EdwardianScriptITC.woff2') format('woff2'), url('EdwardianScriptITC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Goudy Old Style Italic';
  src: url('GoudyOldStyleT-Italic.woff2') format('woff2'), url('GoudyOldStyleT-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Goudy Old Style';
  src: url('GoudyOldStyleT-Regular.woff2') format('woff2'), url('GoudyOldStyleT-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Goudy Old Style Bold';
  src: url('GoudyOldStyleT-Bold.woff2') format('woff2'), url('GoudyOldStyleT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.bold-txt {
  font-family: 'Goudy Old Style Bold';
}
.home .home-section .cover {
  width: 100%;
  height: calc(100vh - 50px);
  position: relative;
  overflow: hidden;
}
.home .home-section .cover img {
  position: relative;
  z-index: 0;
  width: 100%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.home .home-section .cover:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 36, 35, 0.5) !important;
}
.home .home-section.cover-section {
  display: flex;
  justify-content: end;
  position: relative;
  border-bottom: 1px solid #632423;
}
.home .home-section.cover-section .cover-text {
  width: 40%;
  height: 100%;
  padding: 10% 1% 10% 50px;
  background: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  overflow: hidden;
}
.home .home-section.cover-section .cover-text h1 {
  margin-bottom: 30px;
  color: #632423;
}
.home .home-section.cover-section .cover-text p {
  font-size: 2rem;
  line-height: 3rem;
  text-align: right;
}
.home .home-section.cover-section .cover-text p span {
  color: #f7d38b;
  font-size: 3rem;
  font-weight: bold;
}
.home .home-section.text-section {
  padding: 70px 7%;
  text-align: center;
}
.home .home-section.text-section p {
  font-size: 1.7rem;
}
.home .home-section .section-title {
  font-family: 'Edwardian Script ITC';
  margin-bottom: 30px;
  color: #632423;
  font-size: 3.5rem;
}
body,
html {
  margin: 0px !important;
  color: #000000;
  height: 100%;
  font-size: 14px;
  font-family: 'Goudy Old Style', serif;
}
*:focus {
  outline: none;
}
.navbar {
  z-index: 100;
  background: #632423 !important;
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
  box-shadow: 0 10px 6px -6px rgba(50, 50, 50, 0.5);
}
.navbar .navbar-toggler {
  border: none;
  font-size: 25px;
  color: #ffffff;
}
.navbar .navbar-brand {
  font-size: 40px;
  color: #f7d38b !important;
}
.navbar .navbar-brand.navbar-brand-centered {
  position: absolute;
  left: 50%;
  display: block;
  width: 160px;
  text-align: center;
  margin-left: -80px;
}
@media (max-width: 770px) {
  .navbar .navbar-brand.navbar-brand-centered {
    position: relative;
    left: initial;
    width: initial;
    margin-left: initial;
  }
}
.navbar .navbar-brand .initialLogo {
  padding-top: 40px;
}
.navbar .navbar-brand .initialLogo .initial-wrapper {
  background: #632423;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.navbar .navbar-brand .initialLogo .initial-wrapper img {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 770px) {
  .navbar .navbar-brand .initialLogo {
    padding: 7px;
  }
  .navbar .navbar-brand .initialLogo .initial-wrapper {
    width: 48px;
    height: 48px;
    font-size: 30px;
  }
}
.navbar .navbar-toggler {
  border: none;
}
.navbar .nav-item {
  font-size: 1.5rem;
  color: #ffffff;
  font-family: 'Goudy Old Style', serif;
  transition: 0.5s all ease-in-out;
}
.navbar .nav-item:hover {
  color: #d2d2d2;
  opacity: 0.7;
}
.navbar .nav-item + .nav-item {
  margin-left: 40px;
}
@media (max-width: 770px) {
  .navbar .nav-item + .nav-item {
    margin-left: initial;
  }
}
.navbar .nav-right {
  margin-right: 20%;
}
@media (max-width: 770px) {
  .navbar .nav-right {
    margin-right: initial;
  }
}
.navbar .nav-left {
  margin-left: 20%;
}
@media (max-width: 770px) {
  .navbar .nav-left {
    margin-left: initial;
  }
}
.page-body {
  padding-top: 55px;
  min-height: 100vh;
}
