@mobile-device: ~"(max-width: 770px)";
@mobile-nav: ~"(max-width: 992px)";

/* Colors */
@color1: rgba(99,36,35,1);
.color1(@prop,@val){ @{prop}: rgba(99,36,35,@val) !important; }

@color2: rgba(247,211,139,1);
.color2(@prop,@val){ @{prop}: rgba(247,211,139,@val) !important; }

@color3: rgba(235, 235, 235,1);
.color3(@prop,@val){ @{prop}: rgba(235, 235, 235,@val) !important; }

@color4: rgba(50, 50, 50,1);
.color4(@prop,@val){ @{prop}: rgba(50, 50, 50,@val) !important; }

/* Fonts */
@font-face {
    font-family: 'Edwardian Script ITC';
    src: url('EdwardianScriptITC.woff2') format('woff2'),
        url('EdwardianScriptITC.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Goudy Old Style Italic';
    src: url('GoudyOldStyleT-Italic.woff2') format('woff2'),
        url('GoudyOldStyleT-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Goudy Old Style';
    src: url('GoudyOldStyleT-Regular.woff2') format('woff2'),
        url('GoudyOldStyleT-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Goudy Old Style Bold';
    src: url('GoudyOldStyleT-Bold.woff2') format('woff2'),
        url('GoudyOldStyleT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.bold-txt { font-family: 'Goudy Old Style Bold'; }

@font-size: 14px;

@brace-color: rgba(0,0,0,1);
@navHeight: 59px;
@mobileNavHeight: 97px; 

@import "home.less";
@import "service.less";

body, html { 
    margin: 0px !important;
    color: rgba(0,0,0,1);
    height: 100%;
    font-size: @font-size; 
    font-family: 'Goudy Old Style', serif;   
}

*:focus { outline: none;}

.navbar {        
    z-index: 100;
    background: @color1 !important;
    color: #fff;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 10px 6px -6px rgba(50,50,50,0.5);
	   -moz-box-shadow: 0 10px 6px -6px rgba(50,50,50,0.5);
            box-shadow: 0 10px 6px -6px rgba(50,50,50,0.5);
    
    .navbar-toggler {
        border: none;
        font-size: 25px;
        color: rgba(255,255,255,1);
    }
    .navbar-brand {
        font-size: 40px;
        color: @color2 !important;

        &.navbar-brand-centered {
            position: absolute;
            left: 50%;
            display: block;
            width: 160px;
            text-align: center;
            margin-left: -80px;

            @media @mobile-device { position: relative; left: initial; width: initial; margin-left: initial;  }
        }

        .initialLogo {
            padding-top: 40px;
            .initial-wrapper{
                background: @color1;
                width: 90px;
                height: 90px;
                border-radius: 50%;
                display: inline-block;
                position: relative;
                img { 
                    width: 70px;
                    height: 70px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            @media @mobile-device { 
                padding:7px;
                .initial-wrapper {
                    width: 48px;
                    height: 48px;
                    font-size: 30px; 
                }
            }
        }
    }

    .navbar-toggler {
        border: none;
    }
    .nav-item {
        font-size: 1.5rem;
        color: rgba(255,255,255,1);
        cursor: pointer;
        font-family: 'Goudy Old Style', serif;
        border-bottom: 1px solid rgba(0,0,0,0);

        transition: 0.5s all ease-in-out;
        &.selected { color: @color2; border-bottom: 1px solid @color2;}
        &:hover { color: rgba(210,210,210,1); opacity: 0.7; }
        &+.nav-item { margin-left: 40px; @media @mobile-device { margin-left: initial; }}
    }

    .nav-right { 
        width: calc(50% - 50px);
        justify-content: flex-start;
        @media @mobile-device { margin-right: initial; }
    }
    .nav-left { 
        width: calc(50% - 50px);
        justify-content: flex-end;         
        @media @mobile-device { margin-left: initial; }
    }
}

/* Mobile Nav */
.noscroll { overflow: hidden; }

.sidenav-container {
    display: none;
    position: fixed;
    top:0;
    left:100vw;
    z-index: 1001;
    width: 100vw;
    height: 100vh;
    background: rgba(52,58,64,1);
    transition: 0.5s all ease-in-out;
    padding: @mobileNavHeight 0 20px;
    color: rgba(255,255,255,1);

    .nav-close { 
        position: absolute;
        top: 40px;
        right: 60px;
        opacity: 0;
        color: rgba(255,255,255,1);         
    }
    .sidenav-section {
        display: flex;
        flex-direction: column; 
        padding: 0 15%;       
        .sidenav-link { 
            font-size: 25px; 
            color:  rgba(255,255,255,1) !important;
            &+.sidenav-link { margin-top: 20px; }
        }
        .sidenav-header-link {
            border: 3px solid rgba(255,255,255,.5);
            text-align: center;
            display: block;
            padding: 2px;
            font-size: 20px;
            font-weight: bold;
            color: rgba(255,255,255,1) !important;

            &+.sidenav-header-link { margin-top: 7px; }
        }
        
        &+.sidenav-section { margin-top: 40px;}
        &.title { 
            padding: 20px 15%;
            font-size: 40px; 
            border-top: 2px solid @color2;
            color: @color2 !important;
        }
    }    

    &.active { 
        left:0; 
        .nav-close { 
            animation-name: background-appear; 
            animation-duration: 0.7s; 
            animation-delay: 0.4s;
            animation-fill-mode: forwards; 
        }
    }
    @media @mobile-nav { display: block;}
}

/* Page Body */
.page-body {
    padding-top: 55px;
    min-height: 100vh;
}

/* Footer */
.footer {
    background:#323232;
    display: flex;
    flex-direction: row;
    padding: 10px 2%;
    color: #fff; 

    .footer-section {
        display: flex;
        flex-direction: row;
        flex:1;
        img { height: 50px;margin-right: 7px;}
        &.icon-section { 
            * { 
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            i { margin-right: 7px; }
        }
    }
}
/* Common Items */
.lifted {
    -moz-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.scroll-ctrl { 
    display: flex;
    flex-direction: row;
    justify-content: left;
    .ctrl-item {
        cursor: pointer;
        font-size: 20px;
        padding: 5px 10px;
        color: #fff;
        .color1(background, 0.9);
        transition: 0.5s all ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;

        &.disabled { background: rgba(175,175,175,1) !important; opacity: 0.7; cursor: initial;}
        &.left { border-top-left-radius: 20px; border-bottom-left-radius: 20px; &:hover:not(.disabled) { padding-right: 20px;}}
        &.right { border-top-right-radius: 20px; border-bottom-right-radius: 20px; &:hover:not(.disabled) { padding-left: 20px;}}
        &+.ctrl-item { margin-left: 5px;}                    
    }
    @media @mobile-nav { 
        .ctrl-item { font-size: 40px;}
    }
}

/* Icons */
.close-nav { 
    width: 27px;
    height: 27px;
    position: relative;
    &:before, &:after {
        position: absolute;
        left: 14px;
        content: ' ';
        height: 28px;
        width: 2px;
        background-color: rgba(255,255,255,1);
    }
    &:before { transform: rotate(45deg); }
    &:after { transform: rotate(-45deg); }
}

/* Animation key frames */
@keyframes page-nav-slide {
    from {
        margin-top: @mobileNavHeight;
    }
    to {
        margin-top: 0;
    }
}

@keyframes background-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Background Pattern */
.background-pattern1 {
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23ebebeb' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}