.home {
    .home-section {
        .cover {
            width: 100%;
            height: calc(100vh - 50px);
            position: relative;
            overflow: hidden;
            img { 
                position: relative; 
                z-index:0; 
                width: 100%;
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
            }
            &:before { 
                content:'';
                position: absolute;
                z-index:1;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                .color1(background, 0.5);
            }
        }
        &.cover-section {
            display: flex;
            justify-content: end;
            position: relative;
            border-bottom: 1px solid @color1;
            .cover-text {
                width: 572px;
                height: 100%;
                padding: 10% 1% 10% 50px;
                background: rgba(255,255,255,1);
                position: absolute;
                top:0;
                right:0;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: center;
                border-bottom-left-radius: 50%;
                border-top-left-radius: 50%;
                overflow: hidden;
                h1 { margin-bottom: 30px; color: @color1; }
                p { 
                    font-size: 2rem; 
                    line-height: 3rem;
                    text-align: right;
                    span { color: @color2; font-size: 3rem; font-weight: bold;}
                }
            }
        }

        &.text-section {
            padding: 70px 7%;
            text-align: center;

            p { font-size: 1.7rem;}
        }

        &.space-area { padding: 50px 50px 100px 0; }

        &.horizontal-list {
            padding: 70px 4%;
            text-align: center;
        }

        .section-title { font-family: 'Edwardian Script ITC'; margin-bottom: 30px; color: @color1; font-size: 3.5rem; }
        .list-area { 
            display: flex;
            flex-direction: row;
            padding: 75px 50px;
            background: @color1;    
            color: rgba(255,255,255,1);        
            border-bottom-right-radius: 200px;
            border-top-right-radius: 200px;

            .list-item { padding: 10px; text-align: center; p { font-size: 1.2rem;}}
        }

        .list-container {
            position: relative;
            width: 100%;
            padding: 0px 50px;
            .ctrl-container {        
                z-index: 3;
                display: flex;
                position: absolute;
                width: 100%;
                justify-content: space-between;
                top:50%;
                left:0;
                transform: translateY(-50%);
                .ctrl{
                    cursor: pointer;            
                    font-size: 25px;            
                    border-radius: 50%;
                    height: 45px;
                    width: 45px;
                    text-align: center;
                    display: inline-flex;
                    flex-direction: column;
                    justify-content: center;
                    opacity: 0.5;
                    color: @color1;
                    cursor: pointer;
                    transition: 0.5s all ease-in-out;

                    &:hover { opacity: 1;}
                    &.prev { left: 5px;}
                    &.next{ right: 5px; }
                    &+.ctrl { margin-left: 10px;}
                }
                @media @mobile-device { justify-content: center; }
            }
            .alice-carousel {
                height: calc(100% - 25px);
                div { 
                    height: 100%;
                    div { height: initial; }
                    .alice-carousel__wrapper {
                        height: 100%;
                        ul {
                            li {
                                height: 100%;
                                text-align: center;
                                padding: 5px;                                 
                                
                                .item-container {
                                    padding: 15px 7px 7px;
                                    border-top:3px solid rgba(255,255,255,1);
                                    height: 100%;
                                    position: relative;
                                    display: flex;
                                    flex-direction: column;
                                    
                                    .img-container {
                                        overflow: hidden;
                                        height: 300px;
                                        img { height: 100%; }
                                    }

                                    p { font-size: 1.5rem; color: @color1; margin: 10px 0px;}
                                    .obituaryLink {     
                                        color: @color1;
                                        font-size: 1.2rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}